<div class="nav__navigation-button" id="offcanvasOpen"></div>

<div class="nav__content offcanvas offcanvas-start" tabindex="-1" id="offcanvas" style="width: 100vw;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">ART IS WONDERFUL</h5>
    <button type="button" class="btn-close text-reset" id="offcanvasClose"></button>
  </div>
  <div class="nav__body offcanvas-body">
    <div class="row d-flex justify-content-center">
      <div class="col-11 col-sm-5">
        <div class="nav__image col-12 d-flex justify-content-center">
          <img src="../images/logoDalle.svg">
        </div>
        <div class="nav__text col-12 text-center">
          <p id="user"></p>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item text-center">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="/cart.html">Корзина</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="/blog.html">Блог</a>
          </li>
          <li class="nav-item text-center mt-1">
            <button class="btn btn-outline-dark" id="singOut">Выход</button>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
